
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15pt;
    height: 80vh;
    width: auto;
    background-color: #F5FBE6;
    color: #233D4D;
    font-family: "Oswald", sans-serif;
}

/* In case I want to limit the width of the page content

.page {
  max-width: 1500px;   
  margin: 0 auto;     
  padding: 0 20px;     
}

*/

h1{
    font-family: "Roboto Slab", serif;
    font-size: 35pt;
    padding-top: 5vh;
}

h2, h3 {
    font-family: "Roboto Slab", serif;
    font-size: 30pt;
    padding-top: 30px;
    color: #215E61;
  

}


.logo {
    display: flex;
    justify-content: flex-start;
    padding-top: 6px;
    padding-right: 16rem;
}

.img1 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.my-img {
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 15px;
}

.centered-class {
    text-align: center;
    padding-top: 40px;
}

.uppercolour{
    background-color: #F5FBE6;
}


.lowercolour{
    background-color: #F5FBE6;
    position: relative;
    padding-bottom: 25vh;
}

.container {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 2fr 200px 200px;
    grid-template-rows: 90px 200px;
    gap: 10px;
}

.itemgrey {
   background-color: #215E61;
   grid-column: span 3;
   padding: 0px 15px;
   color: #F5FBE6;

}

.itemgoldleft{
   background-color: goldenrod;
   grid-column: span 2;
   padding: 0px 15px;
}

.itemblue{
    background-color: #233D4D;
    grid-column: span 2;
    grid-area: 3 / 4 / 4 / 4 ;
    padding: 0px 15px;
}

.itemgreen{
    background-color: #233D4D;
    grid-area: 1 / 3 / 3 / 3;
}

.itempurple{
    background-color: #233D4D;
    grid-area: 2 / 1 / 3 / 3 ;
    grid-column: span 1;
    
}

.itemgoldright{
    background-color: goldenrod;
    grid-area: 1 / 4 / 3 / 4 ;
    padding: 0px 15px;
}

.itemorange{
    background-color: #F5FBE6;
    grid-area: 2 / 2 / 3 / 2 ;
}

 .img-sizing {
    max-width: 240px;
    height: auto;
  }



.flexy {
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flexy-items {
   display:flex;
   flex-direction: row;
   justify-content: center;
   gap: 80px;
   padding-top: 30px;
}

.fa-instagram, .fa-linkedin-in, .fa-facebook-f {
    font-size: 30pt;
    color: #215E61;
}
.footer-text{
    font-size: 12pt;
    color: #233D4D80;

}

.flexy-lower{
    display: flex;
    flex-direction: row;
    text-align: center; 
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.nav-links {
    display: flex;
    align-items: center;
    gap:30px;
}


.nav {
    background-color: lightgrey;
    display: flex;
    justify-content:space-around;
    font-size: 14pt;
    gap: 40px;
    padding: 15px 30px;
}

.finalcolour{
    background-color: cyan;
    position: relative;
    height: 10vh;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    background-color: goldenrod;
}

.spacer {
    display: flex;
    justify-content: center;
    padding-right: 70px;
    margin-right: 10;
    gap: 25px;
}



.spacer2 {
    display: flex;
    justify-content: center;
    gap: 25px;
}


@media (max-width: 680px) {
  .my-img {
    width: 180px;
  }

  .img1 {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
  }
 
  .flexy {
    height: 80vh;
 }


.logo {
    display: flex;
    justify-content: flex-start;
    padding-top: 12px;
    padding-right: 20px;
  }

 h1 {
    font-size: 28pt;
    padding-top: 0px;
  }

 h2, h3 {
    font-size: 24pt;

    
  }

p {
    font-size: 12pt;
  }

.nav {
    padding: 16px 20px;
    font-size: 10pt;
}

.nav-links {
    font-size: 9pt;
    margin-left: 20px;
    gap: 8px;
}
.fa-instagram, .fa-linkedin-in, .fa-facebook-f {
    font-size: 20pt;
 }
 
.spacer2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
 }

 .img-sizing {
    max-width: 140px;
    height: auto;
  }
}